.header{
    font-size:36px;
}


.fas{
    
    color: white;
}

.bannerBk{

    background : rgba(0,0,0,0.5) url('../../../images/bg.jpg');
    background-blend-mode: darken;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}